<!-- RSA Security -->
<script type="text/javascript" src="components/rsa/jsbn.js"></script>
<!--needed for rsa math operations-->
<script type="text/javascript" src="components/rsa/rng.js"></script>
<!--needed for rsa key generation-->
<script type="text/javascript" src="components/rsa/prng4.js"></script>
<!--needed for rsa key generation-->
<script type="text/javascript" src="components/rsa/rsa.js"></script>



<h2 align="center">Cancellation Request</h2>
<div class="panel panel-success">
	<div class="panel-heading" ng-if="loggedIn.company.type==1">
	<div class="table-responsive" id="EOrder" ng-init="getEsselerorder()">
		<table class="table table-striped table-bordered table-hover">
			<thead>
				<tr>


					<th>order.No.</th>
					<th>Item symbol</th>
					<th>Shipment date</th>
					<th>Delivery date</th>
					<th>Pkg weight</th>


				</tr>
			</thead>
			<tbody>

				<!-- <button type="button" class="btn btn-info btn-lg"
					data-toggle="modal" data-target="#myModal">Open Large
					Modal</button> -->
				<!-- <tr ng-show="orders.length <= 0"><td colspan="16" style="text-align:center;">Loading Please wait!!</td></tr -->
				<tr ng-repeat="item in esselerorder">

					<td><input type="checkbox"  ng-model="item.cb1">{{item.orderNo}}</td>

					<td>{{item.itemSymbol}}</td>
					<td>{{item.shipmentDate | date:'shortDate'}}</td>
					<td>{{item.deliveryDate | date:'shortDate'}}</td>
					<td>{{item.weight}}</td>

				</tr>
				<tr><td></td><br>list of checked items: {{checkedItems()}}<td></td><td align="center"><input type="submit" ng-click="cancelBid();" class="btn btn-success" style="align:center;"></td></tr>
			</tbody>
		</table>
	</div>
	</div>
	
	<div class="panel-heading" ng-if="loggedIn.company.type==2">
	<div class="table-responsive" id="lOrder" ng-init="getlogisticOrder()">
		<table class="table table-striped table-bordered table-hover">
			<thead>
				<tr>


					<th>Bid.No.</th>
					<th>Order No</th>
					<th>Bid Qty</th>
					<th>Bid Amount</th>
					<th>Bid Status</th>
					<th>Bid Time</th>
					<th>Bidder Id</th>


				</tr>
				
			</thead>
			<tbody>

				
				<tr ng-repeat="item in getlogisticOrder">

					<td><input type="checkbox"  ng-model="item.cb1">{{item.id}}</td>
					<td>{{item.orderNo}}</td>
					<td>{{item.bidQty}}</td>
					<td>{{item.bidAmt}}</td>
					<td>{{item.bidStatus}}</td>
					<td>{{item.bidTime | date:'shortDate'}}</td>
					<td>{{item.bidderId}}</td>
					

				</tr>
				<tr><td></td><td>list of checked items: {{checkedItems()}}</td><td></td><td align="center"><input type="submit" ng-click="cancelBid();" class="btn btn-success" style="align:center;"></td><td></td><td></td><td></td></tr>
			</tbody>
		</table>
	</div>
	</div>
	</div>
