<!-- RSA Security -->
<script type="text/javascript" src="components/rsa/jsbn.js"></script>
<!--needed for rsa math operations-->
<script type="text/javascript" src="components/rsa/rng.js"></script>
<!--needed for rsa key generation-->
<script type="text/javascript" src="components/rsa/prng4.js"></script>
<!--needed for rsa key generation-->
<script type="text/javascript" src="components/rsa/rsa.js"></script>



<h2 align="center">
	Change Password
</h2>
<div class="panel panel-success">
	<div class="panel-heading">Change Password</div>
	<div class="panel-body" data-ng-init="init()">
		<form class="form-horizontal" role="form">
			<div class="form-group">
				<label class="control-label col-sm-2" for="pwd">Current Password</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="passwordold" name="passwordold" placeholder="Enter Current Password" ng-model="change.currentpassword"/>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="pwd">New Password</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="passwordnew" name="passwordnew" placeholder="Enter New Password" ng-model="change.newpassword"/>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="pwd">Confirm New Password</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="passwordconfirm" name="passwordconfirm" placeholder="Confirm New Password" ng-model="change.confirmpassword"/>
				</div>
			</div>
			
			<div class="form-group">
				<div class="col-sm-6">
				<input type="hidden" name="userName" ng-model="account.changepassword.userName"/>
				
				</div>
				<div class="col-sm-6">
					<button type="button" class="btn btn-primary" ng-click="saveChangedPassword()">Save</button>
				</div>
			</div>
			
		</form>
	</div>
</div>